.banner{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    display:flex;
    background-color: rgba(255,255,255,.65);
    backdrop-filter: blur(12px);
    z-index: 2;
    height: 50px;
    scroll-margin-bottom: 1px;
    align-items: center;
}

.banner__timeline{
    display:flex;

}

.banner_account_button  button img{
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    margin-right: 10px;
    border: 2px solid rgba(255,255,255,.65);
}
.banner_text{
    display: flex;
    margin-top: auto;
    margin-left: 15px;
    margin-bottom: auto;
    font-size: 17px;
}

@media screen and (min-width: 500px) {
  .banner{
    display: none;
  }
}

.headerMenu{
    bottom:0;
    left: 0;
    right: 0;
    position:fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    height: 53px;
}
.iconMenu{
    padding:.25rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.mobileIconButtons{
    height: 100%;
    height: 50px;
}
.brandIcon{
    display: none;
}
.profileMenu{
    display: flex;
    align-self: center;
}

.largeIcon{
    font-size: 48px;
    height: 48px;
    width: 48px;
    line-height: 48px;
}
.mediumIconButton{
    font-size: 48px;
    height: 48px;
    width: 48px;
    line-height: 48px;
}
.mediumIcon{
    font-size:32px;
    height:32px;
    width:32px;
    line-height:32px;
}
.deskTopMenu{
    display: none;
}
.profileMenu {
    display: none;
}
@media screen and (min-width: 500px) {
    .headerMenu{
        bottom:0;
        left: 0;
        right:auto;
        position:fixed;
        height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-between;
        z-index: 2;
        width: 68px;
    }
    .iconMenu{
        width: 100%;
        padding:.25rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:.25rem ;
    }
    .deskTopMenu{
        padding:.25rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:.25rem ;
    }
    .deskTopMenu_account_button img{
        height: 40px;
        width: 40px;
        border-radius: 9999px;
        margin-right: 10px;
        border: 2px solid rgba(255,255,255,.65);
    }
   
    .profileMenu{
        display: flex;
        align-self: center;
    }
    .brandIcon{
        margin: 1rem;
        display:flex;
        align-items: center;
    }
    
   
  }

/* expanding the desktop navigation */
@media screen and (min-width: 900px) {
    
}