<section *ngIf="this.uiServ.bannerVisable" class="banner">
    <div class="banner__timeline">
        <div class="spinner" *ngIf="!this.userProfile">
            <mat-spinner diameter="45"></mat-spinner>
        </div>
        <div *ngIf="this.userProfile" class="banner_account_button">
            <button
            mat-icon-button
            (click)="onToggleSideNav()">
            <img [src]="this.userProfile.profilePhotoURL">
          </button>

        </div>
        <div class="banner_text">
            <span>Home</span>
        </div>
    </div>
</section>

<div *ngIf="this.uiServ.navMenuVisable" class="headerMenu">
    <div class="iconMenu">
        <div class="brandIcon">
            <button class="largeIconButton" mat-icon-button color="primary">
                <mat-icon class="largeIcon">flutter_dash</mat-icon>
            </button>
        </div>
        <div class="mobileIconButtons">
            <button class="mediumIconButton" mat-icon-button color="primary">
                <mat-icon class="mediumIcon">home</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon fontIcon="search">search_outline</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="notifications">notifications_none</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="mail">mail_outline</mat-icon>
            </button>
        </div>

        <div class="deskTopMenu">
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="bookmark">bookmark</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="list_alt">list_alt</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="person">person</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="pending">pending_outline</mat-icon>
            </button>
            <button mat-fab color="primary">
                <mat-icon >history_edu</mat-icon>
            </button>
        </div>

    </div>
    <div *ngIf="this.userProfile" class="deskTopMenu_account_button">
        <button mat-icon-button>
          <img [src]=this.userProfile.profilePhotoURL>
        </button>
    </div>

</div>
