
<div *ngIf="this.route != '/welcome/signup' && '/welcome/login' "  class="headerMenu">
    <div class="iconMenu">
        <div class="brandIcon">
            <button class="largeIconButton" mat-icon-button color="primary">
                <mat-icon class="largeIcon">flutter_dash</mat-icon>
            </button>
        </div>
        <div class="mobileIconButtons">
            <button class="mediumIconButton" mat-icon-button color="primary">
                <mat-icon class="mediumIcon">home</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon fontIcon="search">search</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="notifications">notifications</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="mail">mail</mat-icon>
            </button>
        </div>
        
        <div class="deskTopMenu">
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="bookmark">bookmark</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="list_alt">list_alt</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="person">person</mat-icon>
            </button>
            <button mat-icon-button class="mediumIconButton" color="primary">
                <mat-icon class="mediumIcon" fontIcon="pending">pending</mat-icon>
            </button>
            <button mat-fab color="primary">
                <mat-icon >history_edu</mat-icon>
            </button>
        </div>
        
    </div>
    <div class="profileMenu">
        <button mat-icon-button class="mediumIconButton" color="primary">
            <mat-icon class="mediumIcon" fontIcon="search">account_circle</mat-icon>
        </button>
    </div>
    
</div>  