<div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="timelineContainer">
            <article class="tweet">
                <div *ngIf="tweet.retweetedBy" class="tweet__banner">
                    <span style="color:#00796B ;">retweeted by {{tweet.retweetedBy}}</span>
                </div>
                <div class="tweet__content">
                    <div class="author_profile">
                        <div>
                            <img routerLink='/home/{{[tweet.auther]}}' src="{{tweet.autherPhotoURL}}">
                        </div>
                    </div>

                    <div class="tweet__body">
                        <div class="tweet__author_menu">
                            <div class="tweet__author">
                                <div class="tweet__author-name">
                                    <span id="name">{{tweet.autherDisplayName}}</span>
                                </div>
                                <div class="tweet__author-handle">
                                    <span>@{{tweet.auther}}</span>
                                </div>
                                <div>
                                    <span>.</span>
                                </div>
                                <div class="tweet__date">
                                    <span>{{tweet.tweetDate | date :'shortDate'}}</span>
                                </div>
                            </div>

                            <div>
                                <button mat-icon-button>
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="tweet__content">
                            <p>{{tweet.tweet}}</p>
                        </div>


                        <div class="tweet__actions">
                            <div>
                                <button (click)="onReply(tweet)" mat-icon-button><mat-icon>chat_bubble_outline</mat-icon></button>
                                <span>{{tweet.replies.length}}</span>
                            </div>
                            <div *ngIf="!tweet.retweets.includes(this.userServ.profile.id)">
                                <button (click)='onRetweet(tweet)' mat-icon-button><mat-icon>repeat</mat-icon></button>
                                <span>{{tweet.retweets.length}}</span>
                            </div>
                            <div *ngIf="tweet.retweets.includes(this.userServ.profile.id)">
                              <button (click)='onRetweet(tweet)' mat-icon-button><mat-icon>undo</mat-icon></button>
                              <span>{{tweet.retweets.length}}</span>
                           </div>
                            <div *ngIf="!tweet.likes.includes(this.userServ.profile.id)">
                                <button (click)="onTweetLike(tweet)" mat-icon-button><mat-icon>favorite_outline</mat-icon></button>
                                <span>{{tweet.likes.length}}</span>
                            </div>
                            <div *ngIf="tweet.likes.includes(this.userServ.profile.id)"style="color:red;">
                              <button (click)="onTweetNotLike(tweet)" mat-icon-button><mat-icon >favorite</mat-icon></button>
                              <span>{{tweet.likes.length}}</span>
                            </div>
                            <div>
                                <button [matMenuTriggerFor]="shareMenu"  mat-icon-button>
                                  <mat-icon>ios_share</mat-icon>
                                </button>
                                <mat-menu #shareMenu="matMenu">
                                  <button mat-menu-item>
                                    <mat-icon>link_outline</mat-icon>
                                    <span>copy link to tweet</span>
                                  </button>
                                  <button mat-menu-item>
                                    <mat-icon>mail_outline</mat-icon>
                                    <span> Send via Direct Message</span>
                                  </button>
                                  <button mat-menu-item>
                                    <mat-icon>bookmark_add_outline</mat-icon>
                                    <span>Bookmark</span>
                                  </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
